.chat-container {
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./klaytn-symbol.png");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.5; /* Adjust the value for opacity */
  z-index: -1; /* Place it behind other content */
}

.chat-header {
  background-color: #ff2f00;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.chat-messages {
  height: 500px; /* Set a fixed height */
  overflow-y: auto;
  padding: 15px;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.message.user {
  background-color: #ffa061;
  color: #000;
  margin-left: auto;
  border: 2px solid black;
}

.message.llm {
  background-color: #f2f2f2;
  color: black;
  margin-right: auto;
  border: 2px solid black;
}

.chat-input {
  border-top: 1px solid #ddd;
  padding: 15px;
  display: flex;
  align-items: center;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.send-button {
  background-color: #ff6700;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
